* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lora', serif;
}

:root {
	--sky-blue: #0e85b5;
	--dark: #181818;
}

body {
	display: grid;
	font-family: 'Silkscreen', sans-serif;
	color: white;
	background: var(--dark);
	justify-items: center;
	user-select: none;
	width: 100%;
	height: 100vh;
	height: 100dvh;
}

#ui-overlay {
	padding: 1rem;
	grid-row: 1;
	grid-column: 1;
	display: grid;
	justify-self: stretch;
	align-self: stretch;
	max-height: 100vh;
}
#ui-overlay p {
	font-size: 1.2rem;
}

#splitscreen {
	grid-row: 1;
	grid-column: 1;
	display: grid;
	justify-self: stretch;
	align-self: stretch;
	grid-template-columns: auto 0 auto;
	max-height: 100vh;
}

#divider {
	position: relative;
	display: grid;
	justify-content: center;
	align-content: center;
	cursor: move;
	border: 0.05rem solid white;
	touch-action: none;
}
#divider #click-target {
	width: 2rem;
	display: grid;
	place-items: center;
	justify-items center;
}
#divider img {
	background: var(--dark);
	width: 1rem;
	pointer-events: none;
	border-radius: 0.5rem;
}

#splitscreen svg {
	justify-self: stretch;
	align-self: stretch;
	background: #181818;
}

.free {
	display: none;
	visibility: hidden;
}
