* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--sky-blue: #0e85b5;
	--dark: #181818;
}

body {
	display: grid;
	font-family: 'Silkscreen', sans-serif;
	color: white;
	background: var(--dark);
	justify-items: center;
	user-select: none;
	width: 100vw;
	height: 100vh;
}

canvas {
	touch-action: none;
	width: 100%;
	height: 100%;
	justify-self: stretch;
	align-self: stretch;
}

#info-box {
	pointer-events: none;
	display: grid;
	position: absolute;
	width: 15rem;
	padding: 0.5rem;
	background: rgba(0,0,0,0.5);
	border: .6rem solid white;
}
#info-box.hidden {
	display: none;
}

#toolbox {
	display: grid;
	position: fixed;
	left: 0;
	padding: 1rem;
	grid-gap: 1rem;
}

#toolbox button {
	display: grid;
	appearance: none;
	background: none;
	border: none;
	cursor: pointer;
}
#toolbox button:hover {
	transform: scale(1.1);
}
#toolbox button:active {
	transform: scale(0.9);
}

#toolbox button img {
	width: 3rem;
	justify-self: stretch;
	align-self: stretch;
}

#trailbox {
	display: grid;
	position: fixed;
	right: 0;
	padding: 1rem;
	pointer-events: none;
}

#trailbox p {
	font-size: min(1.15rem, 1.3vh);
	text-shadow: 0.05rem 0.05rem 0 #00000020;
}

#trailbox .template {
	display: none;
}
